@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(UserInterface.Hello + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "User" }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">


        @*<li><a href="/Account/Register" id="registerLink">@UserInterface.Register</a></li>
            <li><a href="/Account/Login" id="loginLink">@UserInterface.Log_In</a></li>*@


        <li>@Html.ActionLink(UserInterface.Register, "Register", "Account", routeValues: new {area = ""}, htmlAttributes: new { id = "registerLink"})</li>
        <li>@Html.ActionLink(UserInterface.Log_In, "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
