@model IEnumerable<Zanshin.Domain.Entities.Log>

@{
    ViewBag.Title = "Index";
}
<ul class="breadcrumb">
    <li><a href="/Admin">Admin Home</a></li>
    <li class="active">Logs</li>
</ul>


<h2>Logs</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logger)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WindowsUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreadId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logger)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WindowsUserName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ThreadId)
        </td>
    </tr>
    <tr>
        <td colspan="6">
            @Html.DisplayFor(modelItem => item.StackTrace)
            
        </td>
    </tr>
}

</table>
